@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}


.wrapper{
  min-height: 750px;
  background: url('./images/back2.jpg') center/ cover no-repeat scroll;
}

.nav{
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav div{
  margin-left: 30px;
  color: #fff;
  font-weight: bold;
}

.header{
  background: rgba(0, 0, 0, .6);
  border-bottom: 1px solid #fff;
  padding-left: 10%;
}

.main{
  background: rgba(0, 0, 0, .4);
  color: #fff;
  min-height: 750px;
  padding-top: 40px;
  /* padding-left: 10%; */
}

.nav img{
  width: "200px";
  height: "200px";
  border-radius: '50%';
}

.part2{
  margin-left: 10%;
}

.contact-item,
.education-item,
.skills-item,
.profile-item,
.languages-item,
.location-item,
.experience-item
{
  margin: 10px 0px;
}

.profile,
.languages,
.location,
.experience,
.contacts
{
  margin-top: 100px;
}



.education div:last-child{
  margin-top: 30px;
}

.contact-item a{
  text-decoration: none;
  color: #fff;
}


@media (min-width: 1024px){
  .nav img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}


@media (max-width: 1023px){
  .nav img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

@media (max-width: 757px){
  .education div:last-child{
    margin-top: 10px;
  }

.skills,
.profile,
.languages,
.location,
.experience
{
  margin-top: 20%;
}

.header{
  padding-left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.part2{
  margin-left:0;
}

.nav .h3{
  font-size: 16px;
}

.nav .h2{
  font-size: 18px;
}

.education{
  margin-top: 10%;
}


}




@media (max-width: 450px){
  .nav img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .nav .h3{
    font-size: 14px;
  }
  
  .nav .h2{
    font-size: 16px;
  }

  .skills{
    margin-top: 5%;
  }

  .education{
    margin-top: 20%;
  }

}

@media (max-width: 350px){
  .nav img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .nav .h3{
    font-size: 14px;
  }
  
  .nav .h2{
    font-size: 16px;
  }

  .skills{
    margin-top: 5%;
  }

  .education{
    margin-top: 20%;
  }

}