@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  min-height: 750px;
  background: url('./images/back2.jpg') center/ cover no-repeat scroll;
}

.nav{
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav div{
  margin-left: 30px;
  color: #fff;
  font-weight: bold;
}

.header{
  background: rgba(0, 0, 0, .5);
  border-bottom: 1px solid #fff;
}