@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  
}

.wrapper{
  min-height: 750px;
  background: url('./images/back2.jpg') center/ cover no-repeat scroll;
}

.nav{
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav div{
  margin-left: 30px;
  color: #fff;
  font-weight: bold;
}

.header{
  background: rgba(0, 0, 0, .6);
  border-bottom: 1px solid #fff;
  padding-left: 100px;
}

.main{
  background: rgba(0, 0, 0, .4);
  color: #fff;
  min-height: 750px;
  padding-top: 40px;
  padding-left: 100px;
}



.contact-item,
.education-item,
.skills-item,
.profile-item,
.languages-item,
.location-item,
.experience-item
{
  margin: 10px 0px;
}

.skills,
.profile,
.languages,
.location,
.experience
{
  margin-top: 100px;
}

.education div:last-child{
  margin-top: 30px;
}

.contact-item a{
  text-decoration: none;
  color: #fff;
}